/*COLORS*/
/*off-gray*/
/*lilac*/
/*dark lilac*/
/*plum*/
/*GRID*/
/*MIXINS*/
/*===GLOBAL/TYPOGRAPHY===*/
body, html {
  height: 100%;
  position: relative;
  font: 10px "Muli", sans-serif;
  line-height: 1.6em; }

p {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  color: #c6c5b9;
  line-height: 1.6em; }

h1 {
  font-size: 3.8em;
  text-transform: uppercase;
  color: #cea0af; }

h2 {
  font-size: 3.2em;
  text-transform: capitalize; }

h3 {
  font-size: 2.4em;
  text-transform: uppercase; }

h4 {
  font-size: 2em; }

h1, h2, h3, h4 {
  font-weight: 300;
  margin: .75em 0;
  line-height: 1.2em; }

a {
  font-size: 1.6em; }

figure {
  width: 100%;
  margin: 1em auto; }

img {
  width: 100%;
  height: auto; }

iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.8em;
  color: #c6c5b9;
  font-weight: 300;
  line-height: 2em; }

/*===LAYOUT===*/
#back-to-top {
  display: none;
  color: #cea0af;
  outline: none;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 1%;
  right: 1.5%;
  font-size: 2.2em;
  background-color: rgba(0, 0, 0, 0.1);
  padding: .5em .25em;
  z-index: 99;
  transition: background-color .2s ease; }

#back-to-top:hover {
  color: #b279a7;
  background-color: rgba(0, 0, 0, 0.5); }

/*===HEADER===*/
#company-logo {
  max-width: 100px;
  min-height: 100px;
  margin: 1em auto; }

/*===NAVIGATION===*/
header a {
  text-decoration: none;
  color: #c6c5b9;
  text-align: center;
  padding: 1.6em 1em;
  font-weight: 300;
  border-bottom: 1px solid #c6c5b9;
  background-color: #f2f4f3;
  transition: all .2s ease-in; }
  header a:not(:first-child) {
    display: none; }
    header a:not(:first-child):focus {
      outline: none;
      text-decoration: underline;
      color: #cea0af; }
  header a:hover {
    color: #cea0af; }
  header a:active {
    color: #cea0af;
    outline: none; }
header #company-logo a{
  padding: 0; }
header #nav-icon {
  display: block;
  font-size: 3em;
  padding: .75em 1em;
  border-top: 1px solid #c6c5b9; }

header .responsive a {
  display: block; }

/*===JUMBOTRON===*/
.hero-image {
  background-image: url("../images/hero-img-1.jpg");
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/*===MAIN===*/
.container {
  padding: 1em;
  text-align: center; }
  .container h1 {
    padding-top: 1em;
    padding-bottom: 1em; }
    .container h1 .company-name {
      text-transform: capitalize; }
  .container h3 {
    text-decoration: underline; }
  .container .profile-pic {
    width: 60%;
    padding-bottom: 60%;
    margin: 1em auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .container #jody-ann {
    background-image: url("../images/profile-pic-1.jpg"); }
  .container #alex-green {
    background-image: url("../images/profile-pic-6.jpg"); }
  .container #francine-fulton {
    background-image: url("../images/profile-pic-7.jpg"); }

#about-section {
  border-bottom: 1px solid #f2f4f3; }

/*===Service Page===*/
.service-page {
  text-align: center; }
  .service-page h1 {
    text-align: center; }
  .service-page h2 {
    text-decoration: underline; }
  .service-page ul {
    font-size: 1.6em; }
    .service-page ul li {
      display: inline-block;
      vertical-align: top;
      width: 100%; }
    .service-page ul li:nth-of-type(even) {
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px dotted #c6c5b9; }

/*===Contact Page===*/
.contact-page .contact-info {
  display: inline-block; }
  .contact-page .contact-info .fa {
    color: #b279a7; }
  .contact-page .contact-info:last-child {
    padding-left: 1em;
    text-align: left; }

.contact-page .map-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin: 5em auto;
  border: 3px solid #b279a7; }

/*===FOOTER===*/
footer {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #b279a7; }
  footer h4 {
    color: #c6c5b9; }
  footer .footer-nav, footer .social-well {
    margin: auto; }
    footer .footer-nav a, footer .social-well a {
      color: #cea0af;
      text-decoration: none;
      margin: 0 .50em;
      transition: all .2s ease-in; }
      footer .footer-nav a i, footer .social-well a i {
        font-size: 1.5em;
        padding: .20em; }
      footer .footer-nav a:focus, footer .social-well a:focus {
        outline: none;
        text-decoration: underline;
        color: #c6c5b9; }
        footer .footer-nav a:focus i, footer .social-well a:focus i {
          outline: auto #3b1c32 1px; }
      footer .footer-nav a:hover, footer .social-well a:hover {
        color: #c6c5b9; }

/*===MEDIA QUERIES===*/
@media only screen and (min-width: 768px) {
  /*TABLET STYLE*/
  /*===HEADER===*/
  header {
    border-bottom: 1px solid #f2f4f3; }
    header #company-logo, header #main-nav {
      width: 50%; }
    header #company-logo {
      float: none;
      margin: 1em auto; }
    header #main-nav {
      float: none;
      padding: 1.25em 0;
      margin: auto;
      text-align: center; }
    header #nav-icon {
      display: none; }
  /*===NAVIGATION===*/
  header #main-nav a:not(:first-child) {
    display: inline-block;
    padding: 0 .9em;
    border-bottom: none;
    background-color: transparent; }
  header #main-nav a:hover {
    color: #cea0af; }
  /*===MAIN===*/
  .container h1 .company-name {
    font: 300 3em/0.8 'Cookie', Helvetica, sans-serif; }
  .col {
    float: left;
    width: 50%;
    padding: 1.6em;
    box-sizing: border-box; }
  .service-page {
    text-align: center; }
    .service-page .service-section {
      width: 70%;
      margin: auto; }
    .service-page h1 {
      text-align: center; }
    .service-page h2 {
      text-decoration: underline; }
    .service-page ul {
      font-size: 1.6em; }
      .service-page ul li {
        width: 49%; }
        .service-page ul li:nth-of-type(odd) {
          text-align: left; }
        .service-page ul li:nth-of-type(even) {
          text-align: right;
          border-bottom: 0;
          margin-bottom: 0; } }

/*END TABLET STYLES*/
@media only screen and (min-width: 940px) {
  /*DESKTOP STYLE*/
  /*===GLOBAL/TYPOGRAPHY===*/
  /*===LAYOUT===*/
  .col-container {
    width: 100%; }
  .col {
    float: left;
    width: 25%;
    padding: 1.6em;
    box-sizing: border-box; }
  .container {
    width: 960px;
    margin: auto; }
    .container .profile-section {
      padding: 5em 10em; }
      .container .profile-section .profile-info {
        width: 50%;
        margin: 0 5em; }
      .container .profile-section:nth-of-type(odd) .profile-info {
        float: right; }
      .container .profile-section:nth-of-type(odd) .profile-pic {
        float: left; }
      .container .profile-section:nth-of-type(even) .profile-info {
        float: left; }
      .container .profile-section:nth-of-type(even) .profile-pic {
        float: right; }
    .container .profile-pic {
      width: 30%;
      padding-bottom: 30%;
      margin: 1em auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
    .container #about-section {
      border-bottom: 1px solid #f2f4f3; }
  /*===HEADER===*/
  header #company-logo, header #main-nav {
    width: 50%; }
  header #company-logo {
    float: left;
    margin-left: 4em; }
  header #main-nav {
    float: right;
    padding: 6em 2em 6em 0;
    text-align: right; }
  /*===JUMBOTRON===*/
  .hero-image {
    /*Parallax*/
    height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #f2f4f3; }
  /*===MAIN===*/
  .about-section.animation-element, .col.animation-element {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 100px, 100px);
    -webkit-transform: translate3d(0px, 100px, 100px);
    -o-transform: translate(0px, 100px, 100px);
    transform: translate3d(0px, 100px, 100px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative; }
  .about-section.animation-element.in-view, .col.animation-element.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px); }
  .contact, .salon-hours {
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
    vertical-align: top; } }
